body.data03 {
    background-color: yellow;
}
body.data03 {
    background-color: red;
}
body.data03 {
    background-color: blue;
}
body {
    background-color: purple !important;
}
body {
    background-color: crimson !important;
}